In [2]:
import pandas as pd

In [43]:
with open("text.txt") as f:
    my_string = f.read()
print(my_string)

CAATCCGTCAGCAAACTCTCGTGCTTGTACAACGTCATCTACTCCCTAAATCGTCCTTCTAGTGTAATCGGGAATAACCGAGCCTACCCCGGACTCCGAAAGATCGCTTGCCCCCAGTTGCGCACGATGACTAATAAGTCAGGCCACGGGAGCTAATGTTTATCTTGGGAGTCCTAAACTATTTATCGCCTGCAGATTCACCCGCATGACTGGCGTCTCGAGCCGGAGTTTTATGAGAAGGGCAAGTCCACAAGATGGCACGCCAAATAGGTATCTGAGACCGGTGGGCCCTAAGAGGATGCAGGCGGAAGCGCGAAACTACCAATGCATCCATAATCGTGCGCGTTGCTTGACCCTTAGATTGGGCCATTCAGTCAACTCATAGTGAATCCTGTTGTGACCTGTCCTGTTCTGCGTTTAGTGATCCTTAAACGCAGGAGGTTGGTCTCGGACTTAACGCTGACGTATGTAATGGCATCTCTCCTATATAGAGTTTTGCCAGAGTGTGTTCGGAGTCACGTCCGGTTTCATAGTATAGCCTAAGTGTTAGATTCGCCGGAATATGGCGAAATGGGAGTACAATCGGCACTCAGCAAAATTATAGCTAAGCTGATCCTTTGTTATAACAGGCTCACCCTAAGGCGCGTTGCCAATAGCTTCTGGGAGGACGATAACGAGGTAAAGGCAGCAGTGTCTATGGAGACCGATTGGTAACTAAACGCATGTGAACCGCGCCTGTGAGCATATGTATATCTTCAGTCGCTATGTGCAACGGTTTCAGTTGCCATTTTTTGGAATCCAAATGGCCTTTGTTGTTATAAGCATTATCCCACTGTTTCGTATCTGCTCAGGAGGCGAGTTTATATCTCGCTTATAGTGTATAATACCCCTTTATGGTGGTATATTTCCGCCCCGTCGGCGCATCGTCAGTTGCCCGTGCCTTGGACCATCGGGGTTACA

In [47]:
my_dict = {}
my_dict["A"] = 0
my_dict["C"] = 0
my_dict["G"] = 0
my_dict["T"] = 0

for i in range(0, len(my_string)):
  my_dict[my_string[i:i+1]] += 1

KeyError: '\n'

In [41]:
my_dict = {}

for word in my_string:
    word = word.strip()
    if word in my_dict:
        my_dict[word] += 1
    else:
        my_dict[word] = 1

In [48]:
my_dict

{'A': 230, 'C': 230, 'G': 237, 'T': 263}

In [ ]:
for i in my_dict:
    i = i.strip()
    print(i + " " + str(my_dict[i]))

When 1
I 2
find 1
myself 1
in 4
times 1
of 11
trouble 1
Mother 2
Mary 2
comes 2
to 3
me 4
Speaking 3
words 7
wisdom 7
let 30
it 36
be 41
And 3
my 1
hour 1
darkness 1
she 1
is 4
standing 1
right 1
front 1
Let 6
Whisper 4
when 2
the 4
broken 1
hearted 1
people 1
living 1
world 1
agree 1
There 4
will 5
an 4
answer 4
For 1
though 1
they 2
may 1
parted 1
there 2
still 2
a 2
chance 1
that 2
see 1
night 1
cloudy 1
light 1
shines 1
on 1
Shine 1
until 1
tomorrow 1
wake 1
up 1
sound 1
music 1
yeah 2

In [51]:
import numpy as np

temp = np.array([0,0,0])
temp2 = np.array([1,1,1])

temp - temp2

array([-1, -1, -1])

In [52]:
my_string = """
73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450
"""
my_string[100]

'4'

In [4]:
import numpy as np

key = {
    "0": np.array([0,0,0,0]),
    "1": np.array([0,0,0,0]),
    "2": np.array([1,0,0,0]),
    "3": np.array([0,1,0,0]),
    "4": np.array([2,0,0,0]),
    "5": np.array([0,0,1,0]),
    "6": np.array([1,1,0,0]),
    "7": np.array([0,0,0,1]),
    "8": np.array([3,0,0,0]),
    "9": np.array([0,2,0,0])
}

In [22]:
basis = [2,3,5,7]

my_int = "59"

my_vector = np.array([0,0,0,0])

for i in range(0,len(my_int)):
    my_vector += key[my_int[i:i+1]]

total = 1
for i in range(0,4):
    total *= basis[i] ** my_vector[i]

In [23]:
total

45

In [133]:
import pandas as pd
df = pd.DataFrame([{"name":"Jeff", "age":40, "height":40},
                   {"name":"Dave", "age":41, "height":40}])

key = pd.Series({"age":40,"height":40})
key

age       40
height    40
dtype: int64

In [134]:
df.eq(key)

     age  height   name
0   True    True  False
1  False    True  False

In [ ]:
df["Wins"] = np.sum(df.iloc[:,1:].eq(key[1:]), axis=1)
df

   name  age  height  Wins
0  Jeff   40      40     2
1  Dave   41      40     1

In [103]:
[x.eq(key) for x in df.values]

AttributeError: 'numpy.ndarray' object has no attribute 'eq'

In [46]:
df["sum"] = np.sum(df.iloc[:,1:].eq(key), axis=1)

In [47]:
df

      name  age  height  sum
0     Jeff   40      78    1
1  Stephen   41      40    0

In [137]:
df = pd.read_csv("data.csv")
df

,Name,CFP_First_Round1,CFP_First_Round2,CFP_First_Round3,CFP_First_Round4,Pop_Tarts_Bowl,Arizona_Bowl,Military_Bowl,Alamo_Bowl,Pinstripe_Bowl,Music_City_Bowl,Reliaquest_Bowl,Sun_Bowl,Citrus_Bowl,Texas_Bowl,Gator_Bowl,First_Responder_Bowl,Mayo_Bowl,Bahamas_Bowl
0,Jeff,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,11. Miami (OH),13. N.C. State,15. Colorado,17. Boston College,20. Iowa,22. Alabama,23. Louisville,26. Illinois,28. LSU,29. Duke,31. North Texas,34. Virginia Tech,36. Buffalo
1,Test,1. Indiana,3. Tennessee,5. SMU,7. Clemson,10. Iowa State,12. Colorado State,14. East Carolina,16. BYU,18. Nebraska,19. Missouri,21. Michigan,24. Washington,25. South Carolina,27. Baylor,30. Ole Miss,32. Texas State,33. Minnesota,35. Liberty
2,Test 2,1. Indiana,4. Ohio State,6. Penn State,8. Texas,10. Iowa State,11. Miami (OH),13. N.C. State,15. Colorado,17. Boston College,19. Missouri,21. Michigan,23. Louisville,26. Illinois,28. LSU,29. Duke,31. North Texas,33. Minnesota,35. Liberty

In [138]:
key = pd.Series({"CFP_First_Round1":"2. Notre Dame"})

In [139]:
df.eq(key)

,Alamo_Bowl,Arizona_Bowl,Bahamas_Bowl,CFP_First_Round1,CFP_First_Round2,CFP_First_Round3,CFP_First_Round4,Citrus_Bowl,First_Responder_Bowl,Gator_Bowl,Mayo_Bowl,Military_Bowl,Music_City_Bowl,Name,Pinstripe_Bowl,Pop_Tarts_Bowl,Reliaquest_Bowl,Sun_Bowl,Texas_Bowl
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [143]:
import streamlit as st
import pandas as pd
import numpy as np

st.title("CFP")

df = pd.read_csv("data.csv")

key = pd.Series({"CFP_First_Round1": "2. Notre Dame"})

df["Wins"] = np.sum(df.eq(key), axis=1)
df["Losses"] = len(key) - df["Wins"] 
df = df.sort_values("Wins", ascending=False)

st.dataframe(df[["Name", "Wins", "Losses"]])

2024-12-10 07:09:21.593 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-10 07:09:21.594 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-10 07:09:21.604 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-10 07:09:21.605 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()

In [4]:
import pandas as pd
key = pd.Series({"Game1":"Notre Dame"})
key

Game1    Notre Dame
dtype: object

In [7]:
key["Game2"] = "Indiana"
key

Game1    Notre Dame
Game2       Indiana
dtype: object

In [2]:
import pandas as pd
import numpy as np

test = pd.Series({"Jeff":"Open"})
np.sum([test == "Open"])

1

In [102]:
games = pd.read_csv("key.csv")
temp = games.set_index(games["Game"])
key = pd.concat([temp.loc[temp["Team1_Victory"],"Team1"], temp.loc[temp["Team2_Victory"], "Team2"]]) 
games

,Game,Team1,Team1_Victory,Team2,Team2_Victory
0,CFP_First_Round1,1. Indiana,False,2. Notre Dame,False
1,CFP_First_Round2,3. Tennessee,False,4. Ohio State,False
2,CFP_First_Round3,5. SMU,False,6. Penn State,False
3,CFP_First_Round4,7. Clemson,False,8. Texas,False
4,Pop_Tarts_Bowl,9. Miami,False,10. Iowa State,False
5,Arizona_Bowl,11. Miami (OH),False,12. Colorado State,False
6,Military_Bowl,13. N.C. State,False,14. East Carolina,False
7,Alamo_Bowl,15. Colorado,False,16. BYU,False
8,Pinstripe_Bowl,17. Boston College,False,18. Nebraska,False
9,Music_City_Bowl,19. Missouri,False,20. Iowa,False
10,Reliaquest_Bowl,21. Michigan,False,22. Alabama,False
11,Sun_Bowl,23. Louisville,False,24. Washington,False
12,Citrus_Bowl,25. South Carolina,False,26. Illinois,False
13,Texas_Bowl,27. Baylor,False,28. LSU,False
14,Gator_Bowl,29. Duke,False,30. Ole Miss,False
15,First_Responder_Bowl,31. North Texas,False,32. Texas State,False
16,Mayo_Bowl,33. Minnesota,False,34. Virginia Tech,False
17,Bahamas_Bowl,35. Liberty,False,36. Buffalo,False

In [103]:
for open_game in games[(games.Team1_Victory == False) & (games.Team2_Victory == False)].values:
    print(open_game)

['CFP_First_Round1' '1. Indiana' False '2. Notre Dame' False]
['CFP_First_Round2' '3. Tennessee' False '4. Ohio State' False]
['CFP_First_Round3' '5. SMU' False '6. Penn State' False]
['CFP_First_Round4' '7. Clemson' False '8. Texas' False]
['Pop_Tarts_Bowl' '9. Miami' False '10. Iowa State' False]
['Arizona_Bowl' '11. Miami (OH)' False '12. Colorado State' False]
['Military_Bowl' '13. N.C. State' False '14. East Carolina' False]
['Alamo_Bowl' '15. Colorado ' False '16. BYU' False]
['Pinstripe_Bowl' '17. Boston College' False '18. Nebraska' False]
['Music_City_Bowl' '19. Missouri' False '20. Iowa' False]
['Reliaquest_Bowl' '21. Michigan' False '22. Alabama' False]
['Sun_Bowl' '23. Louisville' False '24. Washington' False]
['Citrus_Bowl' '25. South Carolina' False '26. Illinois' False]
['Texas_Bowl' '27. Baylor' False '28. LSU' False]
['Gator_Bowl' '29. Duke' False '30. Ole Miss' False]
['First_Responder_Bowl' '31. North Texas' False '32. Texas State' False]
['Mayo_Bowl' '33. Minnesota' False '34. Virginia Tech' False]
['Bahamas_Bowl' '35. Liberty' False '36. Buffalo' False]

In [25]:
df = pd.read_csv("data.csv")
np.sum(df.eq(key, axis=1), axis=1)

0    1
1    1
2    2
dtype: int64

In [ ]:
import streamlit as st
import pandas as pd
import numpy as np

st.title("CFP")

df = pd.read_csv("data.csv")
games = pd.read_csv("key.csv")

name_conversion = {None:"open", "Indiana":"1. Indiana", "Notre Dame":"2. Notre Dame"}

if "key" not in st.session_state:
  winners1 = games[games.team1_victory]
  winners2 = games[games.team2_victory]

df["Wins"] = np.sum(df.eq(st.session_state.key), axis=1)
df["Losses"] = np.sum(st.session_state.key != "open") - df["Wins"] 
df = df.sort_values("Wins", ascending=False)

col1, col2 = st.columns(2)

with col1:
  st.dataframe(df[["Name", "Wins", "Losses"]], hide_index=True)


def callback_function():
    #print(st.session_state.Game1)
    st.session_state.key["CFP_First_Round1"] = name_conversion[st.session_state.CFP1]

with col2: 
  for game in range(0,10):
    st.segmented_control("CFP", ["Indiana", "Notre Dame"], key="CFP"+str(i),  
           on_change=callback_function)

### Make a theoretical pathway

In [105]:
games = pd.read_csv("key.csv")
#games.loc[0,"Team1_Victory"] = True
games = games.set_index("Game")

In [106]:
winners1 = games.loc[games.Team1_Victory, "Team1"]
winners2 = games.loc[games.Team2_Victory, "Team2"]
completed_key = pd.concat([winners1, winners2])
games.index.isin(completed_key.index)

array([False, False, False, False, False, False, False, False, False,
       False, False, False, False, False, False, False, False, False])

In [107]:
open_games = games[(~ games.Team1_Victory) & (~ games.Team2_Victory)]
open_games

,Team1,Team1_Victory,Team2,Team2_Victory
Game,,,,
CFP_First_Round1,1. Indiana,False,2. Notre Dame,False
CFP_First_Round2,3. Tennessee,False,4. Ohio State,False
CFP_First_Round3,5. SMU,False,6. Penn State,False
CFP_First_Round4,7. Clemson,False,8. Texas,False
Pop_Tarts_Bowl,9. Miami,False,10. Iowa State,False
Arizona_Bowl,11. Miami (OH),False,12. Colorado State,False
Military_Bowl,13. N.C. State,False,14. East Carolina,False
Alamo_Bowl,15. Colorado,False,16. BYU,False
Pinstripe_Bowl,17. Boston College,False,18. Nebraska,False
Music_City_Bowl,19. Missouri,False,20. Iowa,False
Reliaquest_Bowl,21. Michigan,False,22. Alabama,False
Sun_Bowl,23. Louisville,False,24. Washington,False
Citrus_Bowl,25. South Carolina,False,26. Illinois,False
Texas_Bowl,27. Baylor,False,28. LSU,False
Gator_Bowl,29. Duke,False,30. Ole Miss,False
First_Responder_Bowl,31. North Texas,False,32. Texas State,False
Mayo_Bowl,33. Minnesota,False,34. Virginia Tech,False
Bahamas_Bowl,35. Liberty,False,36. Buffalo,False

In [58]:
completed_key

Game
CFP_First_Round1                1. Indiana
CFP_First_Round2              3. Tennessee
CFP_First_Round3                    5. SMU
CFP_First_Round4                7. Clemson
Pop_Tarts_Bowl                    9. Miami
Arizona_Bowl                11. Miami (OH)
Military_Bowl               13. N.C. State
Alamo_Bowl                   15. Colorado
Pinstripe_Bowl          17. Boston College
Music_City_Bowl               19. Missouri
Reliaquest_Bowl               21. Michigan
Sun_Bowl                    23. Louisville
Citrus_Bowl             25. South Carolina
Texas_Bowl                      27. Baylor
Gator_Bowl                        29. Duke
First_Responder_Bowl       31. North Texas
Mayo_Bowl                    33. Minnesota
Bahamas_Bowl                   35. Liberty
dtype: object

In [59]:
def possible_outcome(completed_key, open_games, number):
    open_games = open_games.reset_index()
    key = completed_key
    '{0:08b}'.format(6)
    for i in open_games.index:
      if (number & 2**i) > 0:
        key[open_games.loc[i,'Game']] = open_games.loc[i,"Team1"]
      else:
        key[open_games.loc[i,'Game']] = open_games.loc[i,"Team2"]
    return key

In [87]:
s1 = pd.Series({"Jeff":1, "Dave":2})
s1
s2 = pd.Series({"Dave":1, "Jeff":2})
s1 + (s2 == 2)

Dave    2
Jeff    2
dtype: int64

In [80]:
import numpy as np
import pandas as pd

df = pd.read_csv("data.csv")

def run_simulation(df, completed_key, open_games):
  df["Simulations_Won"] = 0
  for i in range(0,2**len(open_games)):
    possible_outcome2 = possible_outcome(completed_key, open_games, i)
    record = np.sum(df.eq(possible_outcome2, axis=1), axis=1)
    print(type(record))
    df["Simulations_Won"] += (record == np.max(record))
  return df

In [81]:
df = run_simulation(df, completed_key, open_games)

<class 'pandas.core.series.Series'>

In [67]:
df["current_record"] = np.sum(df.eq(completed_key, axis=1), axis=1)
df[["current_record", "Simulations_Won"]]

   current_record  Simulations_Won
0               8                0
1              10                0
2              12                1
3               7                0
4               8                0
5               9                0
6              10                0

## Run a Complete Simulation on Data

# Alternative Way to Make Theoretical Pathway

In [89]:
key = "0011"
key.split()

['0011']

In [92]:
[key[i:i+1] for i in range(len(key))]

['0', '0', '1', '1']

In [118]:
num = len(open_games.index)
key = ('{0:0' + str(num) + 'b}').format(10)
key

'000000000000001010'

In [97]:
for i in key:
    print(i)

0
0
0
0
1
0
1
0

In [100]:
list(zip([1,2,3,4,5,6,7,8], key))

[(1, '0'),
 (2, '0'),
 (3, '0'),
 (4, '0'),
 (5, '1'),
 (6, '0'),
 (7, '1'),
 (8, '0')]

In [116]:
list(zip(open_games.index, key))

[('CFP_First_Round1', '0'),
 ('CFP_First_Round2', '0'),
 ('CFP_First_Round3', '0'),
 ('CFP_First_Round4', '0'),
 ('Pop_Tarts_Bowl', '0'),
 ('Arizona_Bowl', '0'),
 ('Military_Bowl', '0'),
 ('Alamo_Bowl', '0'),
 ('Pinstripe_Bowl', '0'),
 ('Music_City_Bowl', '0'),
 ('Reliaquest_Bowl', '0'),
 ('Sun_Bowl', '0'),
 ('Citrus_Bowl', '0'),
 ('Texas_Bowl', '0'),
 ('Gator_Bowl', '1'),
 ('First_Responder_Bowl', '0'),
 ('Mayo_Bowl', '1'),
 ('Bahamas_Bowl', '0')]

In [120]:
for i in list(zip(open_games.index, key)):
    print(i[0], int(i[1]))

CFP_First_Round1 0
CFP_First_Round2 0
CFP_First_Round3 0
CFP_First_Round4 0
Pop_Tarts_Bowl 0
Arizona_Bowl 0
Military_Bowl 0
Alamo_Bowl 0
Pinstripe_Bowl 0
Music_City_Bowl 0
Reliaquest_Bowl 0
Sun_Bowl 0
Citrus_Bowl 0
Texas_Bowl 0
Gator_Bowl 1
First_Responder_Bowl 0
Mayo_Bowl 1
Bahamas_Bowl 0

In [125]:
open_games = open_games.reset_index()

In [137]:
def possible_outcome(completed_key, open_games, number):
  num = len(open_games.index)
  key = ('{0:0' + str(num) + 'b}').format(number)
  for i in list(zip(open_games.index, key)):
    if i[1] == "0":
      completed_key[open_games.loc[i[0],"Game"]] = open_games.loc[i[0],"Team2"]
    else:
      completed_key[open_games.loc[i[0],"Game"]] = open_games.loc[i[0],"Team1"] 
  return completed_key

possible_outcome(completed_key, open_games, 2**18-1)

Game
CFP_First_Round1                1. Indiana
CFP_First_Round2              3. Tennessee
CFP_First_Round3                    5. SMU
CFP_First_Round4                7. Clemson
Pop_Tarts_Bowl                    9. Miami
Arizona_Bowl                11. Miami (OH)
Military_Bowl               13. N.C. State
Alamo_Bowl                   15. Colorado
Pinstripe_Bowl          17. Boston College
Music_City_Bowl               19. Missouri
Reliaquest_Bowl               21. Michigan
Sun_Bowl                    23. Louisville
Citrus_Bowl             25. South Carolina
Texas_Bowl                      27. Baylor
Gator_Bowl                        29. Duke
First_Responder_Bowl       31. North Texas
Mayo_Bowl                    33. Minnesota
Bahamas_Bowl                   35. Liberty
dtype: object

In [145]:
for i in range(2**18):
  for j in range(15):
    i=(260001 & i)

In [155]:
bin((~10 & 255) & (~11 & 255))

'0b11110100'

In [154]:
bin(10 & 11)

'0b1010'

In [160]:
bin(5^5)

'0b0'

In [174]:
for i in range(1000000):
    record = {0:0,1:0}
    number = 260000^i
    while (number>0):
        #print(number)
        record[number%2] += 1
        number = number >> 1

In [170]:
record

{0: 0, 1: 6}

# Determine if String Matching is the Bottleneck
The second technique, which uses bitwise operators for the entire process, runs in reasonable time on the deployed app.    
- The bottleneck is with using Pandas Data Object.  
- Separate games into locked and open  
- Devise a uint32 representation for each players open picks  
- For each open scenario, score each player, determine the winner, and add to DataFrame

In [24]:
import pandas as pd
import numpy as np

   user  Pick1
0  Jeff      0
1  Dave      1

In [141]:
for i in range(0,2**19):
  grade = ~(np.uint32(2**18-1) ^ np.uint32(i))
  total = np.sum(np.unpackbits(np.array([grade], dtype=np.uint8)))
  total += np.sum(np.unpackbits(np.array([grade >> 8], dtype=np.uint8)))
  total += np.sum(np.unpackbits(np.array([grade >> 16], dtype=np.uint8))) - 6

In [142]:
for i in range(0,2**19):
  total = 0
  grade = ~(np.uint32(2**18-1) ^ np.uint32(i))

  for j in range(0,18):
    total += grade % 2
    grade = grade >> 1

# Try to Numpy Arrays to Manage Picks

Able to use Numpy Arrays to manage peoples selections.  Now need to separate played games and other games.

In [208]:
family_picks = np.array([0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18], dtype=np.uint32)
for i in range(0,18):
  family_picks[i+1] = 2**i 


pathways = np.zeros(19)

for key in range(0,2**18):
  results = ~(family_picks ^ np.uint32(key))
  total = np.zeros(19)
  for i in range(0,18):
    total += results % 2
    results = results >> 1
  winners = (total == max(total))
  if (winners[0]):
    print(key) 
  pathways += winners

0

In [210]:
pathways

array([1.00000e+00, 1.31072e+05, 1.31072e+05, 1.31072e+05, 1.31072e+05,
       1.31072e+05, 1.31072e+05, 1.31072e+05, 1.31072e+05, 1.31072e+05,
       1.31072e+05, 1.31072e+05, 1.31072e+05, 1.31072e+05, 1.31072e+05,
       1.31072e+05, 1.31072e+05, 1.31072e+05, 1.31072e+05])

# Able to Separate Between Played and Open Games

In [5]:
import pandas as pd 
import numpy as np

df = pd.read_csv("data.csv")
df = df.set_index("Name")
key = pd.read_csv("key.csv")
key = key.set_index("Game")
played_winners = pd.concat([key.loc[key.Team1_Victory, "Team1"], key.loc[key.Team2_Victory, "Team2"]] )

In [6]:
completed_games = df[played_winners.index]
np.sum(completed_games.eq(played_winners, axis=1), axis=1)

Name
Jeff         1
Mom          1
Katherine    1
Kaia         1
Gourav       1
Dad          1
Mr. Ayala    1
Rebecca      1
Anabel       1
Maria        1
Liliana      1
David        1
dtype: int64

In [11]:
open_games = df.drop(columns=played_winners.index)

In [ ]:
open_games = df.drop(columns=played_winners.index)
open_games = open_games.map(lambda x: int(x.split(".")[0])%2)
open_games

,CFP_First_Round2,CFP_First_Round3,CFP_First_Round4,Pop_Tarts_Bowl,Arizona_Bowl,Military_Bowl,Alamo_Bowl,Pinstripe_Bowl,Music_City_Bowl,Reliaquest_Bowl,Sun_Bowl,Citrus_Bowl,Texas_Bowl,Gator_Bowl,First_Responder_Bowl,Mayo_Bowl,Bahamas_Bowl
Name,,,,,,,,,,,,,,,,,
Jeff,0,0,0,1,1,1,1,1,0,0,1,0,0,1,1,0,0
Mom,0,0,0,1,1,1,0,1,0,1,0,0,0,1,0,0,1
Katherine,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0,1,1
Kaia,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1
Gourav,0,0,0,1,0,1,1,1,0,1,0,1,1,1,1,1,0
Dad,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,1,0
Mr. Ayala,0,1,0,1,1,1,1,1,1,0,0,0,1,1,1,1,0
Rebecca,1,1,0,0,0,1,1,0,0,0,1,0,1,0,1,1,0
Anabel,0,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1,1
Maria,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,1,1
Liliana,0,1,0,1,0,0,1,1,0,1,0,1,1,0,0,1,0
David,0,0,0,0,1,0,0,1,1,1,0,1,1,0,0,1,0

In [27]:
powers_two = np.array([2**x for x in np.arange(16, -1, -1)])
powers_two

array([65536, 32768, 16384,  8192,  4096,  2048,  1024,   512,   256,
         128,    64,    32,    16,     8,     4,     2,     1])

In [29]:
open_games["num"] = (np.array(open_games.values)).dot(powers_two)
open_games

,CFP_First_Round2,CFP_First_Round3,CFP_First_Round4,Pop_Tarts_Bowl,Arizona_Bowl,Military_Bowl,Alamo_Bowl,Pinstripe_Bowl,Music_City_Bowl,Reliaquest_Bowl,Sun_Bowl,Citrus_Bowl,Texas_Bowl,Gator_Bowl,First_Responder_Bowl,Mayo_Bowl,Bahamas_Bowl,num
Name,,,,,,,,,,,,,,,,,,
Jeff,0,0,0,1,1,1,1,1,0,0,1,0,0,1,1,0,0,15948
Mom,0,0,0,1,1,1,0,1,0,1,0,0,0,1,0,0,1,14985
Katherine,1,0,0,1,0,0,1,0,1,0,0,0,1,1,0,1,1,75035
Kaia,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,511
Gourav,0,0,0,1,0,1,1,1,0,1,0,1,1,1,1,1,0,11966
Dad,0,0,0,1,1,0,1,1,0,0,0,1,0,0,1,1,0,13862
Mr. Ayala,0,1,0,1,1,1,1,1,1,0,0,0,1,1,1,1,0,48926
Rebecca,1,1,0,0,0,1,1,0,0,0,1,0,1,0,1,1,0,101462
Anabel,0,0,0,1,0,0,0,0,0,1,0,0,0,1,1,1,1,8335
Maria,0,0,0,1,0,1,0,0,1,0,0,1,0,0,0,1,1,10531
Liliana,0,1,0,1,0,0,1,1,0,1,0,1,1,0,0,1,0,42674
David,0,0,0,0,1,0,0,1,1,1,0,1,1,0,0,1,0,5042

In [22]:
int(open_games.loc[:].astype(str).str.cat(),2)

AttributeError: 'DataFrame' object has no attribute 'str'

In [294]:
np.uint32(int("111111111111111111",2))

262143

In [277]:
df.loc["Jeff"]

CFP_First_Round1             2. Notre Dame
CFP_First_Round2             4. Ohio State
CFP_First_Round3             6. Penn State
CFP_First_Round4                  8. Texas
Pop_Tarts_Bowl                    9. Miami
Arizona_Bowl                11. Miami (OH)
Military_Bowl               13. N.C. State
Alamo_Bowl                   15. Colorado
Pinstripe_Bowl          17. Boston College
Music_City_Bowl                   20. Iowa
Reliaquest_Bowl                22. Alabama
Sun_Bowl                    23. Louisville
Citrus_Bowl                   26. Illinois
Texas_Bowl                         28. LSU
Gator_Bowl                        29. Duke
First_Responder_Bowl       31. North Texas
Mayo_Bowl                34. Virginia Tech
Bahamas_Bowl                   36. Buffalo
Name: Jeff, dtype: object

# Integrate Everything Together

In [61]:
import pandas as pd 
import numpy as np

df = pd.read_csv("data.csv")
df = df.set_index("Name")
key = pd.read_csv("key.csv")
key = key.set_index("Game")
played_winners = pd.concat([key.loc[key.Team1_Victory, "Team1"], key.loc[key.Team2_Victory, "Team2"]] )

In [62]:
completed_games = df[played_winners.index]
df["Wins"] = np.sum(completed_games.eq(played_winners, axis=1), axis=1)
df

,CFP_First_Round1,CFP_First_Round2,CFP_First_Round3,CFP_First_Round4,Pop_Tarts_Bowl,Arizona_Bowl,Military_Bowl,Alamo_Bowl,Pinstripe_Bowl,Music_City_Bowl,Reliaquest_Bowl,Sun_Bowl,Citrus_Bowl,Texas_Bowl,Gator_Bowl,First_Responder_Bowl,Mayo_Bowl,Bahamas_Bowl,Wins
Name,,,,,,,,,,,,,,,,,,,
Jeff,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,11. Miami (OH),13. N.C. State,15. Colorado,17. Boston College,20. Iowa,22. Alabama,23. Louisville,26. Illinois,28. LSU,29. Duke,31. North Texas,34. Virginia Tech,36. Buffalo,1
Mom,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,11. Miami (OH),13. N.C. State,16. BYU,17. Boston College,20. Iowa,21. Michigan,24. Washington,26. Illinois,28. LSU,29. Duke,32. Texas State,34. Virginia Tech,35. Liberty,1
Katherine,2. Notre Dame,3. Tennessee,6. Penn State,8. Texas,9. Miami,12. Colorado State,14. East Carolina,15. Colorado,18. Nebraska,19. Missouri,22. Alabama,24. Washington,26. Illinois,27. Baylor,29. Duke,32. Texas State,33. Minnesota,35. Liberty,1
Kaia,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,10. Iowa State,12. Colorado State,14. East Carolina,16. BYU,18. Nebraska,19. Missouri,21. Michigan,23. Louisville,25. South Carolina,27. Baylor,29. Duke,31. North Texas,33. Minnesota,35. Liberty,1
Gourav,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,12. Colorado State,13. N.C. State,15. Colorado,17. Boston College,20. Iowa,21. Michigan,24. Washington,25. South Carolina,27. Baylor,29. Duke,31. North Texas,33. Minnesota,36. Buffalo,1
Dad,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,11. Miami (OH),14. East Carolina,15. Colorado,17. Boston College,20. Iowa,22. Alabama,24. Washington,25. South Carolina,28. LSU,30. Ole Miss,31. North Texas,33. Minnesota,36. Buffalo,1
Mr. Ayala,2. Notre Dame,4. Ohio State,5. SMU,8. Texas,9. Miami,11. Miami (OH),13. N.C. State,15. Colorado,17. Boston College,19. Missouri,22. Alabama,24. Washington,26. Illinois,27. Baylor,29. Duke,31. North Texas,33. Minnesota,36. Buffalo,1
Rebecca,2. Notre Dame,3. Tennessee,5. SMU,8. Texas,10. Iowa State,12. Colorado State,13. N.C. State,15. Colorado,18. Nebraska,20. Iowa,22. Alabama,23. Louisville,26. Illinois,27. Baylor,30. Ole Miss,31. North Texas,33. Minnesota,36. Buffalo,1
Anabel,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,12. Colorado State,14. East Carolina,16. BYU,18. Nebraska,20. Iowa,21. Michigan,24. Washington,26. Illinois,28. LSU,29. Duke,31. North Texas,33. Minnesota,35. Liberty,1
Maria,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,12. Colorado State,13. N.C. State,16. BYU,18. Nebraska,19. Missouri,22. Alabama,24. Washington,25. South Carolina,28. LSU,30. Ole Miss,32. Texas State,33. Minnesota,35. Liberty,1
Liliana,2. Notre Dame,4. Ohio State,5. SMU,8. Texas,9. Miami,12. Colorado State,14. East Carolina,15. Colorado,17. Boston College,20. Iowa,21. Michigan,24. Washington,25. South Carolina,27. Baylor,30. Ole Miss,32. Texas State,33. Minnesota,36. Buffalo,1
David,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,10. Iowa State,11. Miami (OH),14. East Carolina,16. BYU,17. Boston College,19. Missouri,21. Michigan,24. Washington,25. South Carolina,27. Baylor,30. Ole Miss,32. Texas State,33. Minnesota,36. Buffalo,1

In [63]:
open_games = df.drop(columns=played_winners.index)
open_games = open_games.map(lambda x: int(x.split(".")[0])%2)
open_games

AttributeError: 'int' object has no attribute 'split'

In [54]:
powers_two = np.array([2**x for x in np.arange(16, -1, -1)])
powers_two

array([65536, 32768, 16384,  8192,  4096,  2048,  1024,   512,   256,
         128,    64,    32,    16,     8,     4,     2,     1])

In [55]:
open_games["num"] = (np.array(open_games.values)).dot(powers_two)
open_games["num"]

ValueError: shapes (12,18) and (17,) not aligned: 18 (dim 1) != 17 (dim 0)

In [43]:
family_picks = open_games["num"].to_numpy()

In [57]:
pathways = np.zeros(12)

for scenario in range(0,2**17):
  results = ~(family_picks ^ np.uint32(scenario))
  total = df.Wins.to_numpy()
  for i in range(0,18):
    total += results % 2
    results = results >> 1
  winners = (total == max(total))
  pathways += winners

In [60]:
df.Wins

Name
Jeff         1245185
Mom          1245185
Katherine    1245185
Kaia         1245185
Gourav       1245185
Dad          1245185
Mr. Ayala    1245185
Rebecca      1245185
Anabel       1245185
Maria        1245185
Liliana      1245185
David        1245185
Name: Wins, dtype: int64

In [58]:
open_games["pathways"] = pathways

In [59]:
open_games["pathways"]

Name
Jeff              8.0
Mom               8.0
Katherine         1.0
Kaia         126400.0
Gourav            8.0
Dad               8.0
Mr. Ayala         2.0
Rebecca           1.0
Anabel         4616.0
Maria            72.0
Liliana           2.0
David           160.0
Name: pathways, dtype: float64