In [43]:
with open("text.txt") as f:
    my_string = f.read()
print(my_string)

CAATCCGTCAGCAAACTCTCGTGCTTGTACAACGTCATCTACTCCCTAAATCGTCCTTCTAGTGTAATCGGGAATAACCGAGCCTACCCCGGACTCCGAAAGATCGCTTGCCCCCAGTTGCGCACGATGACTAATAAGTCAGGCCACGGGAGCTAATGTTTATCTTGGGAGTCCTAAACTATTTATCGCCTGCAGATTCACCCGCATGACTGGCGTCTCGAGCCGGAGTTTTATGAGAAGGGCAAGTCCACAAGATGGCACGCCAAATAGGTATCTGAGACCGGTGGGCCCTAAGAGGATGCAGGCGGAAGCGCGAAACTACCAATGCATCCATAATCGTGCGCGTTGCTTGACCCTTAGATTGGGCCATTCAGTCAACTCATAGTGAATCCTGTTGTGACCTGTCCTGTTCTGCGTTTAGTGATCCTTAAACGCAGGAGGTTGGTCTCGGACTTAACGCTGACGTATGTAATGGCATCTCTCCTATATAGAGTTTTGCCAGAGTGTGTTCGGAGTCACGTCCGGTTTCATAGTATAGCCTAAGTGTTAGATTCGCCGGAATATGGCGAAATGGGAGTACAATCGGCACTCAGCAAAATTATAGCTAAGCTGATCCTTTGTTATAACAGGCTCACCCTAAGGCGCGTTGCCAATAGCTTCTGGGAGGACGATAACGAGGTAAAGGCAGCAGTGTCTATGGAGACCGATTGGTAACTAAACGCATGTGAACCGCGCCTGTGAGCATATGTATATCTTCAGTCGCTATGTGCAACGGTTTCAGTTGCCATTTTTTGGAATCCAAATGGCCTTTGTTGTTATAAGCATTATCCCACTGTTTCGTATCTGCTCAGGAGGCGAGTTTATATCTCGCTTATAGTGTATAATACCCCTTTATGGTGGTATATTTCCGCCCCGTCGGCGCATCGTCAGTTGCCCGTGCCTTGGACCATCGGGGTTACA

In [47]:
my_dict = {}
my_dict["A"] = 0
my_dict["C"] = 0
my_dict["G"] = 0
my_dict["T"] = 0

for i in range(0, len(my_string)):
  my_dict[my_string[i:i+1]] += 1

KeyError: '\n'

In [41]:
my_dict = {}

for word in my_string:
    word = word.strip()
    if word in my_dict:
        my_dict[word] += 1
    else:
        my_dict[word] = 1

In [48]:
my_dict

{'A': 230, 'C': 230, 'G': 237, 'T': 263}

In [ ]:
for i in my_dict:
    i = i.strip()
    print(i + " " + str(my_dict[i]))

When 1
I 2
find 1
myself 1
in 4
times 1
of 11
trouble 1
Mother 2
Mary 2
comes 2
to 3
me 4
Speaking 3
words 7
wisdom 7
let 30
it 36
be 41
And 3
my 1
hour 1
darkness 1
she 1
is 4
standing 1
right 1
front 1
Let 6
Whisper 4
when 2
the 4
broken 1
hearted 1
people 1
living 1
world 1
agree 1
There 4
will 5
an 4
answer 4
For 1
though 1
they 2
may 1
parted 1
there 2
still 2
a 2
chance 1
that 2
see 1
night 1
cloudy 1
light 1
shines 1
on 1
Shine 1
until 1
tomorrow 1
wake 1
up 1
sound 1
music 1
yeah 2

In [51]:
import numpy as np

temp = np.array([0,0,0])
temp2 = np.array([1,1,1])

temp - temp2

array([-1, -1, -1])

In [52]:
my_string = """
73167176531330624919225119674426574742355349194934
96983520312774506326239578318016984801869478851843
85861560789112949495459501737958331952853208805511
12540698747158523863050715693290963295227443043557
66896648950445244523161731856403098711121722383113
62229893423380308135336276614282806444486645238749
30358907296290491560440772390713810515859307960866
70172427121883998797908792274921901699720888093776
65727333001053367881220235421809751254540594752243
52584907711670556013604839586446706324415722155397
53697817977846174064955149290862569321978468622482
83972241375657056057490261407972968652414535100474
82166370484403199890008895243450658541227588666881
16427171479924442928230863465674813919123162824586
17866458359124566529476545682848912883142607690042
24219022671055626321111109370544217506941658960408
07198403850962455444362981230987879927244284909188
84580156166097919133875499200524063689912560717606
05886116467109405077541002256983155200055935729725
71636269561882670428252483600823257530420752963450
"""
my_string[100]

'4'

In [4]:
import numpy as np

key = {
    "0": np.array([0,0,0,0]),
    "1": np.array([0,0,0,0]),
    "2": np.array([1,0,0,0]),
    "3": np.array([0,1,0,0]),
    "4": np.array([2,0,0,0]),
    "5": np.array([0,0,1,0]),
    "6": np.array([1,1,0,0]),
    "7": np.array([0,0,0,1]),
    "8": np.array([3,0,0,0]),
    "9": np.array([0,2,0,0])
}

In [22]:
basis = [2,3,5,7]

my_int = "59"

my_vector = np.array([0,0,0,0])

for i in range(0,len(my_int)):
    my_vector += key[my_int[i:i+1]]

total = 1
for i in range(0,4):
    total *= basis[i] ** my_vector[i]

In [23]:
total

45

In [133]:
import pandas as pd
df = pd.DataFrame([{"name":"Jeff", "age":40, "height":40},
                   {"name":"Dave", "age":41, "height":40}])

key = pd.Series({"age":40,"height":40})
key

age       40
height    40
dtype: int64

In [134]:
df.eq(key)

     age  height   name
0   True    True  False
1  False    True  False

In [ ]:
df["Wins"] = np.sum(df.iloc[:,1:].eq(key[1:]), axis=1)
df

   name  age  height  Wins
0  Jeff   40      40     2
1  Dave   41      40     1

In [103]:
[x.eq(key) for x in df.values]

AttributeError: 'numpy.ndarray' object has no attribute 'eq'

In [46]:
df["sum"] = np.sum(df.iloc[:,1:].eq(key), axis=1)

In [47]:
df

      name  age  height  sum
0     Jeff   40      78    1
1  Stephen   41      40    0

In [137]:
df = pd.read_csv("data.csv")
df

,Name,CFP_First_Round1,CFP_First_Round2,CFP_First_Round3,CFP_First_Round4,Pop_Tarts_Bowl,Arizona_Bowl,Military_Bowl,Alamo_Bowl,Pinstripe_Bowl,Music_City_Bowl,Reliaquest_Bowl,Sun_Bowl,Citrus_Bowl,Texas_Bowl,Gator_Bowl,First_Responder_Bowl,Mayo_Bowl,Bahamas_Bowl
0,Jeff,2. Notre Dame,4. Ohio State,6. Penn State,8. Texas,9. Miami,11. Miami (OH),13. N.C. State,15. Colorado,17. Boston College,20. Iowa,22. Alabama,23. Louisville,26. Illinois,28. LSU,29. Duke,31. North Texas,34. Virginia Tech,36. Buffalo
1,Test,1. Indiana,3. Tennessee,5. SMU,7. Clemson,10. Iowa State,12. Colorado State,14. East Carolina,16. BYU,18. Nebraska,19. Missouri,21. Michigan,24. Washington,25. South Carolina,27. Baylor,30. Ole Miss,32. Texas State,33. Minnesota,35. Liberty
2,Test 2,1. Indiana,4. Ohio State,6. Penn State,8. Texas,10. Iowa State,11. Miami (OH),13. N.C. State,15. Colorado,17. Boston College,19. Missouri,21. Michigan,23. Louisville,26. Illinois,28. LSU,29. Duke,31. North Texas,33. Minnesota,35. Liberty

In [138]:
key = pd.Series({"CFP_First_Round1":"2. Notre Dame"})

In [139]:
df.eq(key)

,Alamo_Bowl,Arizona_Bowl,Bahamas_Bowl,CFP_First_Round1,CFP_First_Round2,CFP_First_Round3,CFP_First_Round4,Citrus_Bowl,First_Responder_Bowl,Gator_Bowl,Mayo_Bowl,Military_Bowl,Music_City_Bowl,Name,Pinstripe_Bowl,Pop_Tarts_Bowl,Reliaquest_Bowl,Sun_Bowl,Texas_Bowl
0,False,False,False,True,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
import streamlit as st
import pandas as pd
import numpy as np

st.title("CFP")

df = pd.read_csv("data.csv")

key = pd.Series({"CFP_First_Round1": "2. Notre Dame"})

df["Wins"] = np.sum(df.eq(key), axis=1)
df["Losses"] = len(key) - df["Wins"] 
df = df.sort_values("Wins", ascending=False)

st.dataframe(df[["Name", "Wins", "Losses"]])

2024-12-10 07:09:14.432 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-10 07:09:14.433 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-10 07:09:14.441 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2024-12-10 07:09:14.450 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

DeltaGenerator()